@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.Toastify__toast-container {
  z-index: 100;
  width: 380px;
  font-size: 15px;
  font-weight: 900;
}

.Toastify__toast--success {
  font-size: medium;
  text-align: center;
  color: rgb(75, 141, 75);
  background: rgb(255, 255, 255);
}

.Toastify__toast--info {
  text-align: center;
  color: rgb(52, 106, 182);
  background: rgb(255, 255, 255);
}

.Toastify__toast--warning {
  text-align: center;
  color: rgb(187, 187, 93);
  background: rgb(255, 255, 255);
}

.Toastify__toast--error {
  color: rgb(186, 75, 75);
  text-align: center;
  background: rgb(255, 255, 255);
}
